# Project-wide Gradle settings.

# IDE (e.g. Android Studio) users:
# Gradle settings configured through the IDE *will override*
# any settings specified in this file.

# For more details on how to configure your build environment visit
# http://www.gradle.org/docs/current/userguide/build_environment.html

# Specifies the JVM arguments used for the daemon process.
# The setting is particularly useful for tweaking memory settings.
org.gradle.jvmargs=-Xmx1536m

# When configured, Gradle will run in incubating parallel mode.
# This option should only be used with decoupled projects. More details, visit
# http://www.gradle.org/docs/current/userguide/multi_project_builds.html#sec:decoupled_projects
# org.gradle.parallel=true


#START SECRET DATA
#Firebase Storage path
FIREBASE_FOLDER_URL = "gs://your_app.appspot.com"

# BASE_64_ENCODED_PUBLIC_KEY should be YOUR APPLICATION'S PUBLIC KEY
# (that you got from the Google Play developer console). This is not your
# developer public key, it's the *app-specific* public key.
#
# Instead of just storing the entire literal string here embedded in the
# program,  construct the key at runtime from pieces or
# use bit manipulation (for example, XOR with some other string) to hide
# the actual key.  The key itself is not secret information, but we don't
# want to make it easy for an attacker to replace the public key with one
# of their own and then fake messages from the server.
BASE_64_ENCODED_PUBLIC_KEY = "YOUR_KEY";
#END SECRET DATA
